<!doctype html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>产品展示</title>
<style type="text/css">
</style>
</head>
<body>
	<div>{{product.id}}</div>
	<div>{{product.product_name}}</div>
	<div>{{product.product_describe}}</div>
	<div>已售：{{sales.total_number || 0}}</div>
	<div>¥ {{product.product_sale_price}}</div>
	<div>¥ {{product.product_marketing_price}}</div>
	<div>评论总数：{{total_comments.total_number || 0}}</div>
	<div>好评数：{{ total_comments.good_comment/total_comments.total_number*100 }}%</div>
	<div>地区：
		<select>
			<option value="1">北京</option>
			<option value="2">上海</option>
			<option value="3">广州</option>
		</select>
	</div>
	{% for picture in pictures %}
		<img src="{{picture.location}}" width ="120px"/>
	{% endfor %}

	<!-- {% for property in industry["properties"] %}
		<div>{{property["name"]}}:&nbsp; &nbsp;{{industry_info[property["field_name"]]}}</div>
	{% endfor %} -->

	{% for same_picture in same_pictures %}
		<div><a href="/product_info?product_id={{same_picture.product_id}}"><img src="{{same_picture.location}}" width ="30px"/></a></div>
	{% endfor %}

	<div>
		{% for property in stock.properties %}
			<div>{{property["name"]}}:&nbsp; &nbsp;
				{% for size_name in property.all_value %}
					{% if stock.stocks[size_name]>0 %}
					<span style="border:1px solid #999;">{{size_name}}</span>
					{% else %}
					<span style="border:1px solid #dedede;">{{size_name}}</span>
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	<div>评论
		{% for comment in comments %}
			<div>{{comment.content}}</div>
			<div>评论人:{{persons[comment.person_id].name}}</div>
			<div>晒图:
				{% for saidan in saidans[comment.id] %}
					<img src="{{saidan.location}}" width="120"></img>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	<div>商品详细：
		{% for product_detail in product_details %}
			<img src="{{product_detail.picture_location}}"></img>
		{% endfor %}
	</div>
</body>
</html>
