<!doctype html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
<title>产品展示</title>
<style type="text/css">
</style>
</head>
<body>
	<input id="product_id" type="text" value="{{product.id}}" style="display:none;"/>
	<input id="page_name" type="text" value="{{page_name}}" style="display:none;"/>
	<div>{{product.product_name}}</div>
	<div>{{product.product_describe}}</div>
	<div>已售：{{sales.total_number  || 0}}</div>
	<div>¥ {{product.product_sale_price}}</div>
	<div>¥ {{product.product_marketing_price}}</div>
	<div>评论总数：{{total_comments.total_number || 0}}</div>
	<div>地区：
		<select>
			<option value="1">北京</option>
			<option value="2">上海</option>
			<option value="3">广州</option>
		</select>
	</div>
	{% for picture in pictures %}
		<img src="\images\{{picture.location}}" width ="120px"/>
	{% endfor %}

	{% for property in industry["properties"] %}
		<div>{{property["name"]}}:&nbsp; &nbsp;{{industry_info[property["field_name"]]}}</div>
	{% endfor %}

	{% for row in stock.properties %}
		<div>row.quantity</div>
		<div>row.size_name</div>
		<div>row.supplier_id</div>
		<div>row.warehouse_id</div>
		<div>row.region_id</div>
	{% endfor %}

	<div>评论
		{% for comment in comments %}
			<div>{{comment.content}}</div>
			<div>评论人:{{persons[comment.person_id].name}}</div>
			<div>晒图:
				{% for saidan in saidans[comment.id] %}
					<img src="{{saidan.location}}" width="120"></img>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	<select id="total_items">
		<option value="1" checked>1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
	</select>
	<div id="add_shopping_cart">添加到购物车</div>
	<div>商品详细：
		{% for product_detail in product_details %}
	 		<div><img src="{{product_detail.picture_location}}"></img></div>
		{% endfor %}
	</div>
	<script>
	$(function() {
		$("#add_shopping_cart").click(function(){
			var product_id = $("#product_id").val();
			var total_items = $("#total_items").val();
			var page_name = $("#page_name").val();
			location.href = "/add_shopping_cart?product_id="+product_id+"&total_items="+total_items;
		});
	});
	</script>
</body>
</html>
